* {
    font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica' !important;
    border-radius: 0 !important;
}

.nav-link {
    color: gray;
    font-family: "Open Sans";
    font-weight: bold;
    text-transform: uppercase;
}

.navbar-collapse:not(.in):not(.collapsing) > ul > li > a.nav-link {
    top: 20px;
}

@media (min-width: 992px) {
    .navbar-collapse {
        width: auto;
        border-top: 0;
        -webkit-box-shadow: none;
        box-shadow: none
    }

    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important
    }

    .navbar-collapse.in {
        overflow-y: visible
    }

    .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
        padding-left: 0;
        padding-right: 0
    }
}

.spiget-icon {
}

.spiget-text {
    text-decoration: none;
    margin-top: 10px;
}

.spiget-spi {
    color: orange;
}

.spiget-get {
    color: black;
}

.spiget-beta {
    color: red;
    position: absolute;
    font-size: 20px;
    margin-left: 5px;
}

.spiget-icon {
}

div.links {
}

.nav-link#donate-link {
    color: orange;
}

.nav-link#donate-link:hover {
    color: #E69500;
}

div.logo-container {
    width: 200px;
    overflow: hidden;
}

.logo {
    float: left;
    padding-right: 15px;
    max-width: 64px;
    width: 64px;
    max-height: 64px;
    height: 64px;
}

.navbar {
}

.navbar-collapse.in {
    height: 245px;
}

#header_pbar {
    height: 5px;
}

#header_pbar_container {
    height: 5px;
    margin-bottom: 0;
}

#footer_alert {
    position: fixed;
    bottom: 0;
    z-index: 1;
    width: inherit;
}
